<header class="fn-add-hover">
  <div class="row show-for-small-only">
    <div class="column small-12 static center"> <a href="/" class="inline-block margin-auto logo logos-logo-mobile"></a></div>
  </div>
  <div class="row">
    <div class="column small-12 medium-2 static show-for-medium-up">
      <div class="dropdown-menu main-nav fn_dropdown">
        <ul class="menu-inline-list">
          <li><a href="/"><span class="show-for-medium-up">Menu</span> <i class="show-for-medium-up fa fa-arrow-circle-right"></i></a>
            <div class="sub-menu fn_menu-helper">
              <div class="inner">
                <ul class="plain row-1 fn-blocks">
                  <li class="show-menu"><a href="#">Movies</a>
                    <ul class="plain menu row-2 fn-blocks">
                      <li class="show-menu"><a href="#">Search</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Fastest search</h2>
                            <p>Start typing in the box to see all the matching titles appear right away. Yes, the fastest movie search on the internet. Watching a trailer is just as fast but make sure you login with faceboook to see all the trailer links appear.</p>
                            <!-- <p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">All movies</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Largest array of movie titles</h2>
                            <p>Think of a movie and most likely it is here for you to check out or view a trailer. All Grimeo movies come directly from the huge movie database at TMDB.</p>
                            <!-- <p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Movie details</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Descriptions, backdrops and reviews</h2>
                            <p>The show-more link takes you to a full run down of the movie including ratings, backdrop, poster and description. If the movie has a trailer then sit back and you can watch that here too. A larger selection of movie backdrops is coming soon. </p>
                            <!--  <p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">TV</a>
                    <ul class="plain menu row-2 fn-blocks">
                      <li class="show-menu"><a href="#">What's hot</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Top rated and more</h2>
                            <p>We serve up the top rated shows right away and of course you can search for your friends recommendations. Coming soon will be listings for "most popular" tv shows as will "on the air" and even "airing today". </p>
                            <!--<p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Show details</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Cast, descriptions and backdrops</h2>
                            <p>The show-more link takes you to a full run down of the show including cast and how many episides and series have been made. </p>
                            <!--  <p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">My Favourites</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Create a list and share</h2>
                            <p>In your options panel chose "favourites list" and then select the titles to make <strong>your</strong> list. We are working on this app so you can share this with your friends.</p>
                            <!--<p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Feedback</a>
                    <ul class="plain menu row-2 fn-blocks">
                      <li class="show-menu"><a href="#">Contact</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Drop us a line</h2>
                            <p><a href="mailto:admin@grimeo.com">Email JB at Grimeo here.</a></p>
                            <!--<p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Be social</a>
                        <ul class="plain menu row-3 fn-blocks">
                          <li>
                            <h2>Twitter</h2>
                            <p><a href="https://twitter.com/grimeotrailers">Follow the Grimeo Trailers Twitter feed here.</a></p>
                            <!--  <p><a href="#" class="learn-more">Go to page</a></p>--> 
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!--<li><a href="#" class="show-for-small-only">Genres</a>
            <div class="sub-menu">
              <div class="inner"> 
              
                <dl class="plain menu-genre row">
                </dl>
               
                <a href="#" class="right fn-close closer"><i class="fa fa-times-circle"></i></a> </div>
            </div>
          </li>--> 
          <!--<li><a href="#">More</a>
                  <div class="sub-menu">
                    <div class="inner">
                      <ul class="plain">
                        <li><a href="#">More</a></li>
                      </ul>
                    </div>
                  </div>
                </li>--> 
          <!--<li><a href="#">More</a></li>--> 
          <!-- <li><a href="#">More</a></li>-->
        </ul>
      </div>
    </div>
    <div class="column small-12 medium-8 static center"> <a href="/" class="inline-block margin-auto logo logos-logo fn-wobble show-for-medium-up"></a>
      <div class="relative">
        <div class="row search">
          <div class="column small-12">
            <div class="row collapse ui-options fn-ui-options">
              
              <div class="column small-3 medium-2"> 
                <div class="options-selector">
                    <input type="radio" name="options[1]" value="movies" id="1_A">
                    <label for="1_A" class="inline-block">
                        <i class="fa fa-film"></i>
                    </label>
                </div>
              </div>
              <div class="column small-3 medium-2 small-push-6 medium-push-8">
              	<div class="options-selector">
                    <input type="radio" name="options[1]" value="tv" id="1_B" >
                    <label for="1_B" class="inline-block">
                    <i class="fa fa-video-camera"></i>
                    </label>
                </div>
              </div>
              <div class="column small-6 medium-8 small-pull-3 medium-pull-2">
               	<div class="search-container" ng-controller="TypeaheadCtrl">
                    <div class="search-tv">
                      <input type="text" value="" name="" id="" class="main-search" placeholder="Search all television shows"/ >
                      
                     
                    </div>
                    <div class="search-movie show">
                      <input type="text" name=""  id="" class="main-search" data-ng-model="searchStr" ng-model-options="{debounce: 1000}" placeholder="Search all movies" / >
                    <!--<div class="search-movie show">
                      <input type="text" name=""  id="" class="main-search" ng-model="result" typeahead="movies.title for movies in movies($viewValue)" typeahead-template-url="movies.html" placeholder="Search all movies" / >-->
                    </div>
                </div>
               <!-- <div>
                
                  <input type="checkbox" name="options
                  
                  [4_A]" value="genres" id="4_A" class="fn_dropdown-alt">
                  <label for="4_A" class="checkboxes small inline-block"> Genres</label>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Alt dropdowns-->
      <!--<div class="dropdown-menu dropdown-alt options-nav show">
        <ul class="menu-inline-list">
          <li class=""><a href="#" class="button small fn-change-text" style="display:none;"><span class="fade-in">or chose from 35 genres <i class="fa fa-arrow-circle-right"></i></span><span> <i class="fa fa-arrow-circle-left"></i> Close Genres</span></a>
            <div class="sub-menu">
              <div class="inner"> 
               
                <dl class="plain menu-genre row">
                </dl>
              
                <a href="#" class="right fn-close closer"><i class="fa fa-times-circle"></i></a> </div>
            </div>
          </li>
        </ul>
      </div>-->
      <!--//Alt dropdowns--> 
    </div>
    <div class="column small-12 medium-2 show-for-medium-up align-right"> 
      <!--<a href="#" class="inline-block graphics-fb right"></a>-->
     <div class="options-selector header-version"> 
         <input type="checkbox" name="options[3_A]" value="options" id="3_A">
         <label for="3_A" class="checkboxes small"> <i class="fa fa-cog"></i><i class="fa fa-times-circle"></i></label>
     </div>
    </div>
  </div>
</header>