<!--Paging results-->
<div data-pagination="" data-num-pages="numPages()" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true" previous-text="" next-text="" ng-show="clearMovies != true"></div>
<div id="ad-location-one"></div>
<!--Paging results-->
<div class="holder"></div>
<!--Results Header-->
<div class="results-header" ng-show="clearMovies != true">
  <div class="row">
    <div class="column medium-3 show-for-medium-up">&nbsp;</div>
    <div class="column medium-6">
      <div class="searching-for center" style="display:none">Searching for: <span class="term">&nbsp;</span> </div>
      <div class="category center"> <span class="title">{{ message }}</span>
        <select ng-model="showGenre" style="display:inline; width:auto;margin:0; padding:5px 10px;height:auto;">
          <option value="" selected="selected">All</option>
          <option ng-repeat="genre in genres" value="{{genre.genresId}}">{{genre.title}}</option>
        </select>
      </div>
    </div>
    <div class="column medium-3 show-for-medium-up" >&nbsp;</div>
  </div>
</div>
<!--Search Output-->
<div class="results relative" ng-show="clearMovies != true">
  <div class="row">
    <div class="column medium-12">
      <form name="save-shows">
        <ul class="row search-output-new">
          <!--<li class="column small-6 medium-3 large-2 end fn-add-hover" ng-repeat="movie in pagedMovies | filter:showGenre">-->
          <li class="column small-6 medium-3 large-2 end fn-add-hover" ng-repeat="movie in pagedMovies" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" >
            <div class="image-container fn-add-hover"><img fallback-src="images/misc/poster-missing.gif" ng-src="{{imageUrlBase}}{{movie.poster_path}}" style="display:block;" alt="{{movie.title}}"/><a href="#" data-reveal-id="myModal" class="btn fn-play-video" data-asset-id="{{movie.mov_id}}" data-video-mode="movie"><i></i><b>Play Trailer</b></a><a href="#!/movie/{{movie.id}}/{{movie.title | slugify}}" class="btn fn-asset-link" id="{{movie.mov_id}}"><i></i><b>Show more</b></a>
              <h3><a href="#!/movie/{{movie.id}}/{{movie.title | slugify}}" class="fn-asset-link" id="{{movie.mov_id}}">{{movie.title}}</a></h3>
              <div class="myshows-actions relative">
                <input name="asset[{{movie.mov_id}}]" id="{{movie.mov_id}}" type="checkbox" data-asset-name="{{movie.title}}" data-asset-poster-path="{{imageUrlBase}}/{{movie.poster_path}}" value="save">
                <label for="{{movie.mov_id}}" class="fn-add-hover checkboxes"><span class="first">Save it</span><span class="second">Saved</span></label>
              </div>
            </div>
            <a href="#" data-name="{{movie.title}}" data-votes="{{movie.vote_count}}" data-url="#!/movie/{{movie.id}}/{{movie.title | slugify}}" onclick="return fbFeed(this);" data-picture="{{movie.poster_path}}" data-description="{{movie.overview}}" class="facebook-share">Faceboook share</a> </li>
        </ul>
        <p>There are {{movies.length}} movies to see.</p>
      </form>
    </div>
  </div>
  <!--//Search Output--> 
</div>