<div class="results-header" ng-hide="searchStr.length > 0">
  <div class="row">
    <div class="column medium-3 show-for-medium-up">&nbsp;</div>
    <div class="column medium-6">
      <div class="searching-for center" style="display: none;">Searching for: <span class="term" style="display: none;">&nbsp;</span> </div>
      <div class="category center"> <span class="title">{{movie.title}}</span> </div>
    </div>
    <div class="column medium-3 show-for-medium-up">&nbsp;</div>
  </div>
</div>
<div class="results relative" ng-hide="searchStr.length > 0"> 
  <!--Detailed Output-->
  <div class="row">
    <div class="column large-12">
      <ul class="asset-detail">
        <li class="column small-12 medium-12 large-12">
          <ul>
            <img src="{{imageUrlBase}}/{{show.poster_path}}" class="fade" ng-class="{in:show.poster_path.length}">
            <h1>{{show.name}}</h1>
            <div class="tagline">{{show.status}}</div>
            <div class="vote-average">Keywords: {{show.keywords}}</div>
            <div class="vote-count">Total votes: {{show.vote_count}}</div>
            <div class="vote-average">Vote average: {{show.vote_average}}</div>
            <div class="vote-count">All Actors: {{show.actors}}</div>
            <!--<p><a href="#" data-reveal-id="myModal" class="btn fn-play-video" data-asset-id="{{show.tv_id}}" data-video-mode="movie"><i></i><b>Play Trailer</b></a></p>-->
            <ul class="video-list"></ul>
            <li><img src="{{backdropUrlBase}}/{{show.backdrop_path}}" class="hero fade" ng-class="{in:show.poster_path.length}"></li>
            <p>{{show.overview}}</p>
            <!--<p><iframe width="560" height="315" src="//www.youtube.com/embed/undefined" frameborder="0" allowfullscreen=""></iframe></p>-->
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--In progress message-->
  <div class="in-progress-bg">
    <div class="in-progress">
      <div class="in-progress-msg"></div>
    </div>
  </div>
  <!--//In progress message--> 
</div>
