.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/node_modules

/scripts-unused

/application/config/_notes/dwsync.xml
/application/controllers/_notes/dwsync.xml
/application/core/_notes/dwsync.xml
/application/errors/_notes/dwsync.xml
/application/helpers/_notes/dwsync.xml
/application/helpers/userauthorization_helper.php
/application/hooks/_notes/dwsync.xml
/application/language/english/_notes/dwsync.xml
/application/libraries/_notes/dwsync.xml
/application/models/_notes/dwsync.xml
/application/third_party/_notes/dwsync.xml
/application/views/_notes/dwsync.xml
/css/_notes/dwsync.xml
/css/font-awesome/_notes/dwsync.xml
/fonts/_notes/dwsync.xml
/fonts/avenir/_notes/dwsync.xml
/fonts/flexislider/_notes/dwsync.xml
/fonts/font-awesome/_notes/dwsync.xml
/fonts/museo-sans-500/_notes/dwsync.xml
/fonts/roboto-slab/_notes/dwsync.xml
/images/_notes/dwsync.xml
/images/graphics/_notes/dwsync.xml
/images/logos/_notes/dwsync.xml
/images/misc/_notes/dwsync.xml
/images/ui/_notes/dwsync.xml
/js/_notes/dwsync.xml
/system/_notes/dwsync.xml
/system/core/_notes/dwsync.xml
/system/database/_notes/dwsync.xml
/system/database/drivers/_notes/dwsync.xml
/system/database/drivers/cubrid/_notes/dwsync.xml
/system/database/drivers/mssql/_notes/dwsync.xml
/system/database/drivers/mysql/_notes/dwsync.xml
/system/database/drivers/mysqli/_notes/dwsync.xml
/system/database/drivers/oci8/_notes/dwsync.xml
/system/database/drivers/odbc/_notes/dwsync.xml
/system/database/drivers/pdo/_notes/dwsync.xml
/system/database/drivers/postgre/_notes/dwsync.xml
/system/database/drivers/sqlite/_notes/dwsync.xml
/system/database/drivers/sqlsrv/_notes/dwsync.xml
/system/fonts/_notes/dwsync.xml
/system/helpers/_notes/dwsync.xml
/system/language/_notes/dwsync.xml
/system/language/english/_notes/dwsync.xml
/system/libraries/Cache/_notes/dwsync.xml
/system/libraries/Cache/drivers/_notes/dwsync.xml
/system/libraries/_notes/dwsync.xml
/system/libraries/javascript/_notes/dwsync.xml
/_notes/dwsync.xml

/system/libraries/Cache/drivers/_notes/*.xml
dwsync.xml

dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
dwsync.xml
